@{
    ViewData["Title"] = "About us";
}
<link rel="stylesheet1" href="~/css/site2.css" />
<link href="https://fonts.google.com/specimen/Noto+Sans+JP" rel="stylesheet1">
<link rel="stylesheet1" href="~/css/site2.css" />
<link href-" />
<link href="https://fonts.google.com/specimen/Noto+Sans+JP" rel="stylesheet1">
<link href-" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet1">
<h1>@ViewData["ABOUT US"]</h1>

<h1>WHO ARE WE?</h1>
<div class="container">
    <div class="row">
        <div class="col-sm" width="400">
            <p>

                <img src="/css/lpl green.png" width="400" />
            </p>
        </div>

        <div class="col-sm">
            <p>
                The High School League (HSL) is a free esports competition for Australian and New Zealand High Schools.
                It’s one of the largest trans-tasman leagues and has been running since 2017.
                2018 saw two successful seasons of the High School League as well as the inaugural HSL Holiday Cup event.
                Teams play against each other in a round robin tournament, leading into the Playoffs and culminating in a Grand Final.
                Featured matches will be broadcast every week on Twitch with the Grand Finals being showcased on SKY Sport in NZ.
                This is a chance to engage students in their playing field and use their love for video gaming to build teamwork, sportsmanship, social connections, strategic thinking.
                Esports allowed students to break down barriers and focus on their course-work.
            </p>
        </div>
    </div>
</div>

<div>
    <h1> BENEFITS</h1>
</div>
<div class="container">
    <div class="row">

        <div class="col-sm">
            <h> STRATEGIC THINKING AND LEARNING THROUGH PLAY </h>
            <p>
                HSL embraces strategic team based games that can enhance students’ Science, Technology, Engineering, Mathematics skills (STEM).
                This link was reinforced by a recent Royal Melbourne Institute of Technology study that found children who play online games are more successful academically.
            </p>

        </div>

        <div class="col-sm">

            <table>
                <tr>
                    <td><h1>WHAT WE PROVIDE SCHOOLS </h1> </td>
                </tr>
                <tr>
                    <td> <p>1. The ability for students to compete in a controlled competition in esports.</p></td>
                </tr>

                <tr>
                    <td><p>2. Broadcast events for the community and families of players to watch teams compete against other schools.</p></td>
                </tr>
                <tr>
                    <td> <p>3. Education of proper etiquette and sportsmanship in the competitive environment.</p></td>
                </tr>

            </table>

        </div>
        <img src="~/css/gaming involvment.jpg" width="1024" />
        <div>



            <table>
                <tr>
                    <td> <h1> WHAT DO SCHOOLS GAIN? </h1> </td>
                </tr>
                <tr>
                    <td> <p>Increased interest in school and academic engagement. </p></td>
                </tr>

                <tr>
                    <td><p>Higher attendance and academic performance from participating students through mandatory High School League requirements.</p></td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Increased self esteem from students who aren’t interested in physical athletics.
                            Positive exposure to both the local community and – for the winners – the national community
                        </p>
                    </td>
                </tr>


            </table>



            <h>OUR MISSION</h>
            <table>
                <tr>
                    <td><h1>WHAT WILL STUDENTS GAIN?</h1></td>
                </tr>
                <tr>
                    <td> <p>A sense of involvement otherwise not available to them. </p></td>
                </tr>

                <tr>
                    <td><p>Build their work ethic and application of intellectual and strategic thinking. .</p></td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Increased self esteem from students who aren’t interested in physical athletics.
                        </p>
                        <p>
                            Positive exposure to both the local community and – for the winners – the national community
                        </p>
                    </td>
                </tr>
            </table>


            <table>
                <tr>
                    <td><h1>AND OUR PASSION!</h1></td>
                </tr>
                <tr>
                    <td> <p> The Dota 2 High School League aspires to provide high schoolers with a fun, competitive, and rewarding esports experience, similar to traditional high school sports. We promote esports as a positive experience that opens up sports team building, leadership opportunities and self improvement to a wider range of students outside traditional seasonal field and court sports. </p></td>
                </tr>

                <tr>
                    <td>
                        <h1>PHILOSOPHY</h1>
                        <p>Be kind. We value good sportsmanship, respect, honesty and maturity. During online game-play, tempers may flare, so our administrators work closely with teams and their supporting teacher to ensure the league remains a clean and mature environment . We enforce and clearly communicate rules to ensure cheating and dishonesty are mitigated.Esports are competitive video games, played in a professional environment. </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>WHAT IS ESPORTS?</h1>
                        <p>
                            The title Esports does not relate to any specific game or genre. Much like traditional sports there is a great deal of diversity between games. Some esports are played one-one-one; some are played in teams of 5, some are even played 1 vs100. What they all have in common however, they all have winners and losers.
                        </p>
                        <p>
                            High School esports provides the opportunity to provide a structured and moderated environment to:
                        </p>
                        <ol>
                            <li>Teach and utilise communication skills.</li>
                            <li>Teach and encourage Teamwork.</li>
                            <li>Teach good sportsmanship and moderate behaviour. </li>
                            <li>Encourage participation.</li>
                            <li>Build their work ethic and application of intellectual and strategic thinking.</li>
                            <li>Increased self esteem from students who aren’t interested in physical athletics.</li>
                            <li>Positive exposure to both the local community and – for the winners – the national community</li>
                        </ol>
                    </td>
                </tr>

            </table>

            <table>
                <tr>
                    <td><h1> DON'T BE FOOLED!</h1></td>
                </tr>
                <tr>
                    <td> <p> There’s a persistent myth that videogames are bad for schoolwork. We are working towards changing this perspective with the Dota 2 High School League by ensuring the motivating factor to be eligible to play is in the effort that a student applies to their school work. Remaining eligible to play, and having fun with friends, is paramount. </p></td>
                </tr>

                <tr>
                    <td>
                        <h1>Testimonials</h1>
                        <ol>
                            <li>“For some students, HSL is the first time the student is actively pushing themselves to achieve a challenging goal. This self-motivation allows the development of important skills such as communication and teamwork.” – Danny Chang, Teacher, Mt Roskill Grammar </li>
                            <li>“The success we have had has evolved around teamwork and communication. We ensure that each and every one of us talk as much as we can during the match as communication in a team is the key to success”. – Vincent Lo, Captain, Mount Albert Grammar</li>
                        </ol>
                </tr>
            </table>
        </div>
    </div>
</div>
       