@{
    ViewData["Title"] = "About us";
}
<link rel="stylesheet1" href="~/css/site2.css" />
<link href="https://fonts.google.com/specimen/Noto+Sans+JP" rel="stylesheet1">
<link rel="stylesheet1" href="~/css/site2.css" />
<link href-" />
<link href="https://fonts.google.com/specimen/Noto+Sans+JP" rel="stylesheet1">
<link href-" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet1">
<h1>@ViewData["ABOUT US"]</h1>

<h1>WHO ARE WE?</h1>
<div class="container">
    <div class="row">
        <div class="col-sm" width="400">
            <p>
            
                <img src="/css/lpl green.png" width="400"/>
            </p>  One of three columns
        </div>

        <div class="col-sm">
            <p>
                The High School League (HSL) is a free esports competition for Australian and New Zealand High Schools.
                It’s one of the largest trans-tasman leagues and has been running since 2017.
                2018 saw two successful seasons of the High School League as well as the inaugural HSL Holiday Cup event.
                Teams play against each other in a round robin tournament, leading into the Playoffs and culminating in a Grand Final.
                Featured matches will be broadcast every week on Twitch with the Grand Finals being showcased on SKY Sport in NZ.
                This is a chance to engage students in their playing field and use their love for video gaming to build teamwork, sportsmanship, social connections, strategic thinking.
                Esports allowed students to break down barriers and focus on their course-work.
            </p>One of three columns
        </div>
    </div>
</div>

<div>
    <h1> BENEFITS</h1>
</div>
<div class="container">
    <div class="row">
       
        <div class="col-sm">
            <p> Strategic Thinking and Learning Through Play<p>
           <p> HSL embraces strategic team based games that can enhance students’ Science, Technology, Engineering, Mathematics skills (STEM).
            This link was reinforced by a recent Royal Melbourne Institute of Technology study that found children who play online games are more successful academically. </p> 
            One of three columns
        </div>

        <div class="col-sm">
            
            <table>
                <tr>
                    <td>What we provide schools</td>
                </tr>
            <tr>
                   <td> • The ability for students to compete in a controlled competition in esports.</td> 
                </tr>
            
            <tr>
                <td>• Broadcast events for the community and families of players to watch teams compete against other schools.</td>
            </tr>>
                
            <tr>
               <td> • Education of proper etiquette and sportsmanship in the competitive environment.</td>
            </tr>
                
                </table>
                    
        </div>
        <div class="col-sm">
            <p> pig</p>One of three columns
        </div>
    </div>
</div>