<form action="action_page.php">
    <div class="container">
        <h1>Tournament FAQ</h1>
        <H1>HERE YOU WILL FIND THE PDF NEEDED FOR INFORMAITON ABOUT THE LPL DOTA 2 TOURNAMENT </H1>
        <p> Below is our rules and regulations in this tournament</p>
        <p> This is an open registration page for everyone but we only take registered accounts with Let's Play Live in Order to play in our Tournament</p>
        <hr />

        
    </div>


</form>