<form action="action_page.php">
    
        <link rel="stylesheet" href="site2.css">
    
        <div class="container">
            <h1> HSL DOTA 2 Tournament  2021!</h1>
            <H1>Welcome to Our Latest Tournament  </H1>
            <img src="~/css/Pro sscene.jpg" />
            <br /><h1> FIRST PLACE TAKES $2000</h1><br />
            <h1> SECOND PLACE TAKES $1500</h1>
            <br /><h1>THIRD PLACE TAKES $1000</h1> <br />
            <h1>FOURTH PLACE TAKES $800</h1>
            <img src="~/css/dota 2 fights.png" width="1024" height="500" />
            <br /> <p> Covid-19 has unfortunately stopped HSL from being hosted this year and our next Tournament and upcoming hot tournament is the HSL DOTA 2 Tournament 2021!</p><br />
            <p> This tournament will be played for a span of 6 months and then the top 8 teams will compete in a bracket leading to quarter finals, semi finals and finals. </p>

            <p> Registrations open February 2021! Gather a team and enter by letting your school know first!</p>
            <p> Below is our rules and regulations in this tournament</p>
            <p> This is an open registration information page for everyone but we only take registered accounts with Let's Play Live in Order to play in our Tournament, Register in the top right to play!</p>
            <p1>
                Any Player that is a registered student in a High School based in New Zealand is eligible to enter the NZ LPL Dota 2 HSL.
                The NZ  Dota 2 HSL organised by LPL is for New Zealand. Only players who are residents in New Zealand are permitted to compete in the NZ HSL DOTAA 2 Tournament.
                LPL officials reserve the right to make final and binding decisions regarding player eligibility and entry to the NZ HSL DOTA 2 Tournament. Players that are ineligible will be removed from the tournament effective immediately. LPL officials reserve the right to ask players proof of their eligibility at any point of the NZ HSL Tournament, failure and/or refusal to provide proof of eligibility when asked will result in the immediate removal of the player.
            </p1>
            <div>
                <br /><h1>Q:How do I sign-up?</h1><br />
                <br /><p1>At the top right of our page, click register and enter your details correctly!</p1> <br />
                <br /><h1>Q:Can a friend from another school enter in my team?</h1><br />
                <br /> <p1>Unfortunately your friend is not able to participate in this tournament if they are not from the same school as you, Resulting so will incur a ban from LPL's tournaments for a year</p1><br />
                <br /> <h1>Q:When is this competition held?</h1> <br />
                <br /> <p1> Due to Covid-19, LPL has had to cancel this years event but our next Tournament is expected to start February 2021!</p1> <br />
                <hr />
            </div>
            <div>

                <u><span style="font-size:2rem;"><b> RULES AND REGULATIONS</b></span></u><br>
                <br>
                This document outlines the rules and regulations related to the  HSL Dota 2 National Championship. Failing to adhere to these rules and regulations may result in disqualification <br>
                and/or other penalization as determined by Let’sPlayLive (LPL) management. Please note that LPL management has the authority to make final decisions that are not specifically outlined in these rules and regulations to preserve fair play and sportsmanship at its sole discretion.<br>
                <br>
                The event is also sanctioned by the New Zealand Esports Federation. All players will be <br>
                required to conform to the rules and regulations of the Tournament. Failure to do so may result <br>
                in disqualification from the event and/or sanctions imposed by the organisation.<br>
                <br>
                <u><span style="font-size:2rem;"><b> HSL Dota 2 National Championship Information</b></span></u><br>
                <br>
                <u><span style="font-size:2rem;"><b>1. Introduction and Purpose</b></span></u><br>
                <br>
                These Official Rules (“Rules” or “Ruleset”) of the HSL Dota 2 National Championship (“NZ HSL Dota 2”) apply to each of the teams that have qualified to play in the NZ HSL Dota 2, as well as any advisors, team captains, team coaches, roster players (collectively “Team Members”), and other employees. These rules also govern the actions of all NZ HSL Dota 2 officials (“Officials”) and referees (“Referees”). All those involved in the NZ HSL Dota 2 are known as NZ HSL Dota 2 Participants (“Participants”).<br>
                <br>
                These rules are designed to ensure the integrity of the competition facilitated by NZ HSL Dota 2 for the competitive play of the Dota 2. <br>
                <br>
                In addition to the rules outlined in this ruleset, the NZ HSL Dota 2 is operated in accordance with the New Zealand Esports Federations.<br>
                <br>
                <u><span style="font-size:2rem;"><b>2. Team Eligibility</b></span></u><br>
                <br>
                <b>2.1. Roster Requirements</b><br>
                For a team to be deemed and then remain eligible to compete in the NZ HSL Dota 2, they are required to meet and uphold all of the following conditions:<br>
                <br>
                <b>2.1.1. Team Roster</b><br>
                Each team is required to submit and maintain, during the course of the NZ HSL Dota 2:<br>
                <br>
                -One (1) team captain (“Captain”)<br>
                -Five (5) starting team members (“Starters”), including the team captain<br>
                -Between zero (0) and two (2) substitutes (“Substitutes”)<br>
                -The combination of a team’s starters and substitutes, including the captain, will be referred to as a team’s “Roster”. Any player on a team’s roster may be referred to as a “Rostered Player”.<br>
                <br>
                All rostered players on a team must be eligible to participate in the NZ HSL Dota 2 in accordance with the conditions laid out in section three (3) of this ruleset.<br>
                <br>
                <b>2.1.2. Team Staff</b><br>
                Each team must, as part of their team application to the NZ HSL Dota 2, submit one (1) team advisor (“Advisor”) along with their roster. This role must be filled by a teacher of the competing school, who must be employed by the registering school at the point of HSL registration. If the Advisor changes at any point of the NZ HSL Dota 2, an LPL official must be notified immediately and a replacement Advisor must be found.<br>
                <br>
                <b>2.1.3. Signups</b><br>
                All teams must register their full team on the LPL website. This will be the official roster for the team and will need to be kept updated if the team changes.<br>
                <br>
                All changes must be approved by LPL officials before they will be entered into the NZ HSL Dota 2.<br>
                <br>
                <u><span style="font-size:2rem;"><b>3. Player Eligibility</b></span></u><br>
                <br>
                <b>3.1. Player Behaviour</b><br>
                All NZ HSL Dota 2 participants must follow the Code of Conduct as described in Section seven (7) of this ruleset.<br>
                <br>
                <b>3.2. Player Age</b><br>
                Any Player that is a registered student in a High School based in New Zealand is eligible to enter the NZ HSL Dota 2.<br>
                <br>
                <b>3.3. Player Names</b><br>
                Players must use the in-game name they have registered with on the LPL Website if possible. Name changes are strictly disallowed. Player names must be school appropriate.<br>
                <br>
                <b>3.4. Region &amp; Player Residency</b><br>
                The NZ HSL Dota 2 organised by LPL is for New Zealand. Only players who are residents in New Zealand are permitted to compete in the NZ HSL Dota 2.<br>
                <br>
                LPL officials reserve the right to make final and binding decisions regarding player eligibility and entry to the NZ HSL Dota 2. Players that are ineligible will be removed from the NZ HSL Dota 2 effective immediately. LPL officials reserve the right to ask players proof of their eligibility at any point of the NZ HSL Dota 2, failure and/or refusal to provide proof of eligibility when asked will result in the immediate removal of the player.<br>
                <br>
                <u><span style="font-size:2rem;"><b>4. League Structure</b></span></u><br>
                <br>
                The NZ HSL Dota 2 is operated by LPL officials (“LPL officials”, “League Ops”).<br>
                <br>
                <b>4.1. Definition of Terms</b><br>
                <b>4.1.1. Game</b><br>
                An instance of competition in a Dota 2 match that is played until a winner is determined by completion of a Dota 2 match, Team forfeit, or an Awarded Game Win.<br>
                <br>
                <b>4.1.2. Match</b><br>
                A set of games that is played until one team wins the series.<br>
                <br>
                <b>4.1.3. Tournament</b><br>
                A scheduled tournament that will occur over an approximately one-month period of time. Each tournament will consist of two separate phases, (a) Open Qualifiers and (b) Playoffs. The Playoffs phase will always occur after the completion of the Open Qualifier phase.<br>
                <br>
                <b>4.2. Phase Details</b><br>
                4.2.1. Open Qualifiers<br>
                This phase consists of teams participating in a Best of One, Double Elimination Bracket. The Double Elimination Bracket is to be completed for the purposes of Playoff seeding.<br>
                <br>
                <b>4.2.2. Playoffs</b><br>
                This phase consists of a single elimination tournament with the Top 4 teams from the Open Qualifiers. Semi Finals #1 ( #1 vs Seed #4) and Semi Finals #2 (Seed #2 and Seed #4) will be Best of Three. Grand Finals will be Best of Five.<br>
                <br>
                <b>4.3 Prizes</b><br>
                Prizes are specified on the respective split's event page.<br>
                <br>
                An LPL official will follow up with winning teams within five (5) business days of the NZ HSL Dota 2 concluding. <br>
                <br>
                <u><span style="font-size:2rem;"><b>5. Match process</b></span></u><br>
                <br>
                <b>5.1. Schedule Changes</b><br>
                At its sole discretion, an LPL official may alter the order of the matches on a specific day and/or change the date of a NZ HSL Dota 2 match to a different date. In the event of a change in schedule, LPL officials will notify all affected teams at the earliest convenience. The schedule of the tournament will be outlined in the respective event page.<br>
                <br>
                <b>5.2. Game Arrival</b><br>
                Players must create their own lobby via Custom Games, following the settings outlined in Section 6.2. For matches that are featured on broadcast, LPL officials will host the custom lobby. Players must follow all instructions given to by LPL officials.<br>
                <br>
                <b>5.3. Game Version</b><br>
                All NZ HSL Dota 2 Matches will be played on the current game patch available on the live server. It is the responsibility of players to ensure their game is updated prior to a <br>
                Match. Restricting the use of in-game elements will be at the discretion LPL officials.<br>
                <br>
                <b>5.4. Availability</b><br>
                Heroes that have not been available on the live server for more than fourteen (14) days will not be available for selection in-game. Heroes that have experienced reworks will be subject to LPL official’s discretion.<br>
                <br>
                <b>5.5. Player responsibilities</b><br>
                <b>5.5.1. Readiness</b><br>
                A team is only ready if all five (5) players are ready to begin the match. If teams are not ready to play by the start of their scheduled match time then the team will be considered late.<br>
                <br>
                <b>5.5.2. Lateness penalties</b><br>
                Teams that are not ready to play fifteen (15) minutes prior to their scheduled match time are subject to penalties for lateness.<br>
                <br>
                For every three (3) minutes a team is late, they will receive a reserve time penalty. Intentionally delaying the lobby or game start will still subject the team to the rules set forth in this section. LPL officials may apply additional penalties at their  discretion.<br>
                <br>
                <b>5.5.3 Disconnects</b><br>
                Teams are required to field a full team of five (5) Starters (See Section 2.1.1.) to<br>
                start a match. If a player unintentionally disconnects during the match, and the<br>
                team has no remaining pause allowance, a team may continue to play after this<br>
                pause duration is up to complete the game.<br>
                <br>
                <b>5.5.4. Spectators</b><br>
                Only LPL officials are allowed to spectate. Players, substitutes, coaches and team personnel are not permitted to spectate the match.<br>
                <br>
                <b>5.5.5. Streaming</b><br>
                Players are not allowed to stream their games on any streaming websites.<br>
                <br>
                <b>5.5.6. Reschedules</b><br>
                Teams are not permitted to reschedule matches.<br>
                <br>
                <b>5.5.7. Pause Allowance</b><br>
                Teams may pause the game for a maximum of ten (10) minutes over the course<br>
                of a single game. Players will be forced to resume the match after the completion<br>
                of their allocated pause time and pausing beyond allowance time will be considered<br>
                unfair play and penalties will be applied at the discretion of LPL officials.<br>
                <br>
                <u><span style="font-size:2rem;"><b>6. Game rules</b></span></u><br>
                <br>
                <b>6.1. Definition of Terms</b><br>
                <b>6.1.1. Unintentional Disconnection</b><br>
                A player loses connection to the game. This is caused by problems with the device, game client, network or platform.<br>
                <br>
                <b>6.1.2. Intentional Disconnection</b><br>
                The player’s connection to the game closes due to the player’s own actions (such as quitting the game). Any player’s actions which lead to the game disconnecting will be treated as intentional, regardless of the player’s intent.<br>
                <br>
                <b>6.1.3. Server Crash/Game Crash</b><br>
                All players lose connection to the game due to a problem with venue internet or <br>
                game server.<br>
                <br>
                <b>6.2. Game Configuration</b><br>
                <b>6.2.1. Game Settings</b><br>
                Server Location: Australia<br>
                Game Title: LPL HSL “Team A” vs “Team B”<br>
                Password: As shared by LPL officials<br>
                Cheats: No<br>
                Game Mode: Captains Mode<br>
                Lobby Visibility: Public<br>
                Selection Priority: Automatic (Coin Toss)<br>
                Penalty – Radiant: No Penalty<br>
                Penalty – Dire: No Penalty<br>
                League: (Pending Ticket Approval)<br>
                Spectators: Enabled<br>
                Dota TV Delay: 5 Minutes<br>
                Pausing: Unlimited<br>
                Series Type: No Series (League Play) or Best of Three (3) (Playoffs)<br>
                <br>
                <b>6.2.2. Side/Pick Selection</b><br>
                In a single game, the side/pick selection process will be completed via Automatic Coin Toss). The winner of the Coin Toss will choose either the pick selection or side  selection and the loser of the Coin Toss will choose whichever option remaining.<br>
                <br>
                In the event of a Bo3 series, a Coin Toss will determine Game One (1) pick/side selection and for Game Two (2) the loser of the Coin Toss in Game One (1) will choose either the pick selection or side selection and the winner of the Coin Toss in Game One (1) will choose whichever remaining. Game Three (3) side/pick selection is done via another Automatic (Coin Toss).<br>
                <br>
                In the event of a Bo5 series, after the Coin Toss determines Game One (1), the winner of the Coin Toss will alternate after every game. If the Bo5 series reaches Game Five (5), another Coin Toss will take place.<br>
                <br>
                <b>6.3. Pick &amp; Bans Disconnect</b><br>
                In the event a player disconnects during the Drafting stage, the lobby is to be recreated with the same picks and bans at the point of player disconnect.<br>
                <br>
                <b>6.3.1 Team Logos and Player Icons for Broadcast</b><br>
                All teams featured in the Broadcast must have set their team banners as their team logos. Only exception to this is  f the team is unable to be set their teams via the Client due to low Player level. All Players in the Broadcast, without exception, must have their school logos as their Player icons when possible.<br>
                <br>
                <b>6.4. Post-Game Process</b><br>
                <b>6.4.1. Technical Notes</b><br>
                Following the completion of a game, players must communicate any technical issues that arose during game play. Players will also have this time to identify and solve any technical difficulties with LPL officials.<br>
                <br>
                <b>6.5. Post-Match Process</b><br>
                <b>6.5.1. Results</b><br>
                Players are also responsible for delivering match results via the LPL Website. Teams who have lost must confirm the results via the LPL Website.<br>
                <br>
                <b>6.5.2. Post-Match Obligations</b><br>
                LPL officials will inform players of any and all post-match obligations including, but not limited to interviews or further discussion of match matters.<br>
                <br>
                <b>6.5.3. Forfeits</b><br>
                Matches won by forfeit will be reported by the minimum score it would take for one team to make the match. No other statistics will be recorded or published for forfeited matches.<br>
                <br>
                Teams that qualify to the Playoff phase are not permitted to forfeit.<br>
                <br>
                <u><span style="font-size:2rem;"><b>7. Code of Conduct</b></span></u><br>
                <br>
                All NZ HSL Dota 2 participants are subject to the LPL Code of Conduct:<a class="cg_link" href="https://letsplay.live/codeofconduct/" rel="nofollow"> https://letsplay.live/codeofconduct/</a><br>
                <br>
                <u><span style="font-size:2rem;"><b>8. Ruleset Administration</b></span></u><br>
                <br>
                <b>8.1. Finality of Decisions</b><br>
                All decisions regarding these rules and their interpretation, including penalties for misconduct, scheduling, and player eligibility lie at the sole discretion of the NZ HSL Dota 2. The result of any appeals process will be final and shall not give rise to any claim for monetary damages or any other legal remedy.<br>
                <br>
                <b>8.2. Rule Changes</b><br>
                These rules may be amended, modified or supplemented by the NZ HSL Dota 2, from time to time, to ensure fair play and the integrity of NZ HSL Dota 2 competition.<br>
                <br>
                <b>8.3. Administrative discretion</b><br>
                LPL officials at all times may act with the necessary authority to preserve the best interests of the NZ HSL Dota 2. This power is not constrained by the lack or presence of any specific language in this document. LPL officials may use any form of punitive action at their disposal against any entity whose conduct is not within the confines of the best interests of the NZ HSL Dota 2.<br>
                <br>
                <b>8.4. Headings in this Ruleset</b><br>
                The headings in this ruleset are for convenience only, confirm no rights or obligations in either party, and do not alter any terms of these rules.<br>
                <br>
                <b>8.5. Application of ruleset</b><br>
                This ruleset applies to all Participants in the NZ HSL Dota 2, including, but not limited to, Players, Captains, Coaches, Team Owners, NZ HSL Dota 2 Admins, Volunteers and Casting crew. Participation in any NZ HSL Dota 2 activity constitutes agreement to this ruleset and a commitment to uphold its principles.


            </div>

        </div>


</form>