@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

   
        <link rel="stylesheet" href="StyleSheet.css">
    
<h2>Manage your account</h2>
<body style="    background-color: #B29E6D">
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    </body>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
