@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    <strong>Your password has been reset. Please</strong> <a asp-page="/Login">click here to log in</a>.
</p>
